.odd {
    background-color: #f08697;
    font-family: Verdana, DejaVuSans, sans-serif;
}/* Add CSS Styling */

.font-24px {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: #90ee90;
    
    font-weight: 700;
}